<% if (books.length === 0) { %>
<h2>You have not written any books.</h2>
<% } else { %>
<h2>Authored Books</h2>
<ul class="authored-list">
  <% books.each(function (book) { %>
    <li class="authbook-item" data-id="<%= book.id %>">
    	Title: <%= book.escape("title") %>, Published: <%= book.escape("published") %>
    </li>
  <% }) %>
</ul>
<% } %>

<button class="publish-book">Publish a Book</button>
