<% if (books.length === 0) { %>
<h2>You have not purchased any books.</h2>
<% } else { %>
<h2>All books in Library</h2>
<ul class="books-list">
<% books.each(function (book) { %>
  <li>Title: <%= book.escape("title") %>, Author: <%= book.get("author_email") %></li>
<% }) %>
</ul>
<% } %>
