<% if (books.length === 0) { %>
<h2>You have not purchased any books.</h2>
<% } else { %>
<h2>All books in Library</h2>
<ul class="books-list">
<% books.each(function (book) { %>
  <li data-id="<%= book.id %>">Title: <%= book.escape("title") %>, Author: <%= book.get("author_email") %></li>
<% }) %>
</ul>
<nav class="books-paging group">
<a href="javascript:void(0)" class="prev-books">&lt;</a>
<a href="javascript:void(0)" class="next-books">&gt;</a>
</nav>
<% } %>
