<section class="login-form">
<h1>User Sign in</h1>

<form action="<%= session_url %>" method="POST">
  <%= csrf_token %>
  <label>Email
    <input type="text" name="user[email]">
  </label>
  <br>
  <label>Password
    <input type="password" name="user[password]">
  </label>
  <button>Sign in!</button>
</form>
</section>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '<%= ENV["facebook_app_id"] %>',
      xfbml      : true,
      version    : 'v2.2',
      cookie     : true
    });

    $(".sign-out").on("click", function (event) {
      FB.logout();
    });

    FB.getLoginStatus(function(response) {
      if (response.status === "connected") {
        $.get('/auth/facebook/callback', function(html) {});
      }
    });
  };

  function redirect() {
  	window.location.replace("<%= root_url %>");
  }

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
  
</script>