<% books.each(function(book) { %>
		<li class="group">Title: <%= book.escape("title") %>, Author Email: <%= book.escape("author_email") %>
        	<button data-id="<%= book.id %>" class="remove-book">Remove</button>
		</li>
<% }) %>