<% books.each(function(book) { %>
		<li>Title: <%= book.escape("title") %>, Author Email: <%= book.escape("author") %></li>
        <button data-id="<%= book.id %>" class="remove-book">Remove</button>
<% }) %>