<section class="search-collection group">
<input type="text" class="search-box" value="<%= collection._query %>">
<input type="submit" class="search-button" value="Search">
</section>
<small class="search-blurb">Search will return books that match title and synopsis in the query.</small>