<% books.each(function (book) { %>
  <li class="group">
  	Title: <%= book.escape("title") %>
  	<button data-id="<%= book.id %>" class="add-book">Add</button>
  </li>
<% }) %>
<nav class="books-paging group">
<a href="javascript:void(0)" class="prev-books">&lt;</a>
<span class="page-mark">
<input class="page" id="books-page" type="text" value="<%= page %>"> /
<%= totalPages %>
</span>
<a href="javascript:void(0)" class="next-books">&gt;</a>
</nav>

<button id="close" class="form-button">Close</button>
