<% if (collections.length === 0) { %>
<p>You have not created any collections.</p>
<% } else { %>
<h2>Your Collections</h2>
  <a href="javascript:void(0)" class="paginate" id="scroll-left">&lt;</a>
  <section class="group">
<ul class='collections-list group'>
  <% collections.each(function (collection) { %>
    <li class="collection-item" data-id="<%= collection.id %>">
    	<strong class="collection-name"><%= collection.escape("name") %></strong><br>
    Number of Books: <%= collection.escape("collects_count") %></li>
  <% }); %>
</ul>
  <a href="javascript:void(0)" class="paginate" id="scroll-right">&gt;</a>
  </section>
<% } %>
  <span id="collections-page"></span>

<button class="create-collection">+</button>

<script>
	var collections = $(".collection-item");
	$(document).ready(function () {
		for (var i = 0; i < 4; i++) {
			$(collections.get(i)).addClass("active");
		}
	});
	var collectionsPages = Math.floor(collections.length/4) + 1;
	var curIdx = 0;
	$("#collections-page").html("Page: " + (curIdx + 1) + " of " + collectionsPages);
	$("#scroll-right").on("click", function (event) {
		event.preventDefault();
		$(collections.get(curIdx)).removeClass("active no-margin");
		if (curIdx + 8 < collections.length) {
			for (var i = curIdx; i < curIdx + 4; i++) {
				$(collections.get(i)).removeClass("active");
			}
			
		} else if (curIdx + 4 < collections.length) {
			$(collections.get(curIdx + 4)).addClass("active");
			curIdx++;
			$(collections.get(curIdx)).addClass("no-margin");
			$("#collections-page").html("Page: " + (curIdx + 1) + " of " + collectionsPages);
		}
	});
	$("#scroll-left").on("click", function (event) {
		event.preventDefault();
		if (curIdx - 4 > 0) {
			$(collections.get(curIdx)).removeClass("no-margin")
			$(collections.get(curIdx + 3)).removeClass("active");
			$(collections.get(curIdx-1)).addClass("active");
			curIdx--;
			$("#collections-page").html("Page: " + (curIdx + 1) + " of " + collectionsPages);
		}
	});
</script>