<% if (collections.length === 0) { %>
<p>You have not created any collections.</p>
<% } else { %>
<h2>Your Collections</h2>
<ul class='collections-list group'>
  <% collections.each(function (collection) { %>
    <li class="collection-item" data-id="<%= collection.id %>">
    	<strong class="collection-name"><%= collection.escape("name") %></strong><br>
    Number of Books: <%= collection.escape("collects_count") %></li>
  <% }); %>
</ul>
<% } %>

<button class="create-collection">Create a Collection</button>
