<% if (collections.length === 0) { %>
<p>You have not created any collections.</p>
<% } else { %>
<h2>Your Collections</h2>
  <a href="javascript:void(0)" class="paginate" id="scroll-left">&lt;</a>
  <section class="group">
<ul class='collections-list group'>
  <% collections.each(function (collection) { %>
    <li class="collection-item" data-id="<%= collection.id %>">
    	<strong class="collection-name"><%= collection.escape("name") %></strong><br>
    Number of Books: <%= collection.escape("collects_count") %></li>
  <% }); %>
</ul>
  <a href="javascript:void(0)" class="paginate" id="scroll-right">&gt;</a>
  </section>
  <span id="collections-page"></span>
<% } %>

<button class="create-collection">+</button>

<script>
	var collections = $(".collection-item");
	$(document).ready(function () {
		for (var i = 0; i < 4; i++) {
			$(collections.get(i)).addClass("active");
		}
	});
	var upper = collections.length;
	if (upper % 4 == 0) {
		var collectionsPages = upper/4;
	} else {
		var collectionsPages = Math.floor(upper/4) + 1;
	}
	var curIdx = 0;
	var page = 1;
	$("#collections-page").html("Page: " + Math.floor((curIdx+4)/4) + " of " + collectionsPages);
	$("#scroll-right").on("click", function (event) {
		event.preventDefault();
		if (curIdx + 8 < upper) {
			$(collections.get(curIdx)).removeClass("active no-margin");
			for (var i = curIdx; i < curIdx + 4; i++) {
				$(collections.get(i)).removeClass("active");
				$(collections.get(i+4)).addClass("active");
			}
			curIdx += 4;
			$(collections.get(curIdx)).addClass("no-margin");
			page++
		}	else if (curIdx + 4 < upper) {
			$(collections.get(curIdx)).removeClass("active no-margin");
			for (var i = curIdx; i < curIdx + 4; i++) {
				$(collections.get(i)).removeClass("active");
			}
			curIdx += 4;
			$(collections.get(curIdx)).addClass("no-margin");
			for (var i = curIdx; i < upper; i++) {
				$(collections.get(i)).addClass("active");
			}
			page++;
		}
		$("#collections-page").html("Page: " + page + " of " + collectionsPages);
	});
	$("#scroll-left").on("click", function (event) {
		event.preventDefault();
		if (curIdx - 8 > -1) {
			$(collections.get(curIdx)).removeClass("active no-margin");
			for (var i = curIdx; i < curIdx + 4; i++) {
				$(collections.get(i)).removeClass("active");
				$(collections.get(i-4)).addClass("active");
			}
			curIdx -= 4;
			$(collections.get(curIdx)).addClass("no-margin");
			page--;
		} else if (curIdx - 4 > -1) {
			$(collections.get(curIdx)).removeClass("active no-margin");
			for (var i = curIdx; i < curIdx + 4; i++) {
				$(collections.get(i)).removeClass("active");
				$(collections.get(i-4)).addClass("active");
			}
			curIdx -= 4;
			page--;
		}
		$("#collections-page").html("Page: " + page + " of " + collectionsPages);
	});
</script>