
#library {
	display: block;
	width: 900px;
	height: 500px;
	margin: auto;
	border: 5px solid black;
	padding: 10px;
	margin-top: 40px;
	background: #ddd;
}

#collections {
	display: block;
	width: 898px;
	height: 228px;
	float: left;
	margin: auto;
	border: 1px solid #ddd;
	background: white;
	margin-bottom: 5px;
}

#books-index {
	display: block;
	width: 448px;
	float: left;
	height: 264px;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	background: white;
}

#authored-books {
	display: block;
	width: 444px;
	height: 264px;
	float: left;
	margin-left: 5px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: white;
}

.modal {
  width: 500px;
  height: 500px;
}

/* Stylings for collections index subview */
ul.collections-list {
	text-align: center;
	height: 100px;
	width: 100%;
	margin-left: 70px;
	display: block;
}

li.collection-item {
	cursor: pointer;
	display: block;
	width: 175px;
	margin-left: 10px;
	float: left;
	height: 100%;
	border: 1px solid black;
}

li.collection-item:first-child {
	margin-left: 0;
}

.collection-name {
	font-weight: bold;
	display: block;
	margin-top: 10px;
}

.create-collection {
	background: #eed;
	display: block;
	padding: 5px 10px;
	float: right;
	margin-top: 20px;
	margin-right: 40px;
	font-size: 18px;
	font-weight: bold;
	border: 1px dashed #bbb;
}

.paginate {
	display: block;
	padding: 5px 10px;
	float: left;
	font-weight: bolder;
	margin-left: 20px;
	margin-top: 35px;
	border: 1px solid black;
}

.paginate:hover {
	background: #aaa;
}

/* Stylings for Library books Index view */
ul.books-list {
	display: block;
	width: 400px;
	margin: auto;
	height: 150px;
	overflow: scroll;
}
ul.books-list li {
	display: block;
	padding: 5px 0;
	border-bottom: 1px solid black;
	cursor: pointer;
}
ul.books-list li:first-child {
	border-top: 1px solid black;
}
ul.books-list li:hover {
	background: #eee;
}
.books-paging {
	display: block;
	width: inherit;
	margin-top: 10px;
	padding: 10px;
}
.next-books, .prev-books {
	display: block;
	padding: 5px 10px;
	font-weight: bolder;
	border: 1px solid black;
}

.prev-books {
	float: left;
}

.next-books {
	float: right;
}

/* Stylings for Authored Books index */
.publish-book {
	display: block;
	padding: 5px 10px;
	float: right;
	margin-right: 40px;
	background: #ddd;
	border: 1px: dashed #bbb;
}
