/* Collection form modal */
#collection-form {
	width: 460px;
	display: block;
	margin: auto;
	height: auto;
	position: relative;
}

#collection-form label {
	display: block;
	width: 440px;
	margin: auto;
}
#collection-form section {
	float: right;
	display: block;
	margin-top: 20px;
}

#collection-form button {
	float: left;
	display: block;
	padding: 5px 10px;
	border: 1px solid #cdc;
	background: #ddd;
	margin-right: 20px;
}
article {
	text-indent: 5%;
	margin: 0 10px;
}
.form-label {
	display: block;
	padding: 5px 10px;
	float: left;
}

.form-text {
	display: block;
	width: 300px;
	margin: 20px;
	border: 1px solid #cdd;
}
textarea.form-text {
	height: 140px;
}
footer.errors {
	position: absolute;
	display: block;
	height: 15px;
	left: 0px;
	bottom: -100px;
}
footer.errors .error {
	float: left;
}
/* Collection show modal */
.form-button {
	cursor: pointer;
}
h3 {
	font-weight: bold;
}
.collection-description {
	margin: 10px;
}
.search-collection {
	display: block;
	width: 460px;
	padding: 10px 20px;
	margin: auto;
}
.search-blurb {
	display: block;
	text-align: center;
	padding: 5px 0;
	width: auto;
	background: #aee;
	margin: 0 20px;
}
.collection-books, .available-books {
	display: block;
	width: 460px;
	margin: auto;
}
.collection-books li, .available-books li {
	display: block;
	padding: 5px 10px;
	border-bottom: 1px solid #111;
}
.collection-books .remove-book {
	border: 1px solid #ccc;
	font-size: 12px;
	border-radius: 5px;
	background: #ddd;
	color: red;
	float: right;
}
.collection-books .remove-book:hover {
	background: #333;
	color: #eee;
}
.collection-books li:first-child, .available-books li:first-child {
	margin-top: 10px;
	border-top: 1px solid #111;
}
.buttons {
	display: block;
	float: right;
	margin: 10px;
}
.form-button {
	padding: 5px 10px;
	background: #ccc;
	margin-right: 15px;
}
.available-books {
	padding-top: 50px;
}
.available-books .form-button {
	float: right;
}
.add-book {
	float: right;
	font-size: 12px;
	margin-right: 10px;
	background: #ddd;
	color: green;
	border: 1px solid #747;
	border-radius: 7px;
	padding: 0px 10px;
}


