<section class="sidebar">
	<strong class="form-label">Top 10 Books</strong><br>
	<ol>
		<% book_rankings.each do |book| %>
			<li>
				<a class="sidebar-link" href="<%= book_url(book) %>"><%= book.title %></a>
			</li>
		<% end %>
	</ol>

</section>
