<section class="sidebar">
	<strong class="form-label">Top 10 Books</strong><br>
	<ol>
		<% book_rankings.each do |book| %>
			<li>
				<a class="sidebar-link" href="<%= book_url(book) %>"><%= book.title %></a>
				by
				<a class="sidebar-link" href="<%= user_url(book.author) %>">
					<% if book.author.fname.nil? || book.author.lname.nil? %>
						Anonymous
					<% else %>
						<%= book.author.fname + " " + book.author.lname %> 
					<% end %>
				</a>
			</li>
		<% end %>
	</ol>

</section>
